.view {
    display: flex;
    height: 100%;
}

.main {
    overflow-y: scroll;
}

@media screen and (min-width: 1440px) {
    .main {
        display: flex;
    }
}

.column {
    overflow-y: scroll;
}

.card {
    position: relative;
    margin: 12px;
    padding: 12px;
    border-radius: 8px;
    background-color: rgba(160, 160, 160, 0.2);
}

.expand {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
    cursor: pointer;
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.expand:hover {
    color: var(--primary-light);
}

.expanded {
    transform: rotate(0deg);
}

.title {
    font-size: 22px;
    margin-bottom: 16px;
}

.index {
    margin-left: 12px;
    color: #808080;
}

.row {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 4px 0;
    line-height: 24px;
    min-width: 240px;
    gap: 16px;
}

.row + .row {
    border-top: 1px dotted rgba(160, 160, 160, 0.5);
}

.value {
    min-width: 60px;
    text-align: right;
}

.estimate {
    font-style: italic;
}

.nearbyRow {
    min-width: 280px;
}

.nearbyType {
    color: rgba(160, 160, 160, 0.8);
}

.nearbyDistance {
    display: inline-block;
    text-align: right;
    width: 48px;
}

.planets {
    padding: 12px 0;
}

.planets .title {
    padding: 0 12px;
}

.planet {
    font-size: 18px;
    padding: 8px 12px;
    line-height: 24px;
    min-width: 240px;
}

.planet + .planet {
    border-top: 2px solid rgba(160, 160, 160, 0.5);
}

.planetName {
    font-size: 20px;
    margin-bottom: 8px;
}
