@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Black.ttf");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-BlackItalic.ttf");
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Light.ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Thin.ttf");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Thin.ttf");
    font-weight: 100;
    font-style: italic;
}

:root {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

body,
#root {
    height: 100%;
    min-width: 1024px;
}

*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(151, 151, 151, 0.75);
    border-radius: 4px;
}

*::-webkit-scrollbar-track-piece {
    background-color: transparent;
}
