.button {
    border-width: 1px;
    border-style: solid;
    padding: 4px 15px;
    cursor: pointer;
    border-radius: 4px;
    transition:
        color 0.3s,
        background-color 0.3s,
        border-color 0.3s;
}

.solid {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.solid:hover {
    background-color: var(--primary-light);
    border-color: var(--primary-light);
}

.outline {
    border-color: #424242;
}

.outline:hover {
    color: var(--primary-light);
    border-color: var(--primary-light);
}

.error.solid {
    color: #fff;
    background-color: var(--error);
    border-color: var(--error);
}

.error.solid:hover {
    background-color: var(--error-light);
    border-color: var(--error-light);
}

.error.outline {
    border-color: var(--error);
}

.error.outline:hover {
    color: var(--error-light);
    border-color: var(--error-light);
}

.button:disabled,
.error.button:disabled {
    cursor: not-allowed;
    border-color: #424242;
    color: rgba(160, 160, 160, 0.8);
    background-color: rgba(160, 160, 160, 0.08);
}
