.select {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.content {
    line-height: 22px;
    padding: 4px 11px;
    border-radius: 4px;
    border: 1px solid #424242;
    transition: border 0.3s;
}

.focus .content {
    border-color: var(--primary);
}

.dropdown {
    position: fixed;
    border-radius: 4px;
    border: 1px solid var(--primary);
    background-color: var(--modal-background);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
}

.item {
    padding: 8px;
    margin: 2px;
    border-radius: 4px;
}

.item:hover {
    background-color: rgba(160, 160, 160, 0.4);
}

.selected,
.selected:hover {
    background-color: var(--primary);
    color: #fff;
}

.error .content {
    border-color: var(--error);
}

.disabled {
    cursor: not-allowed;
}
